 $contrl scftyp=rhf runtyp=eda mplevl=2 units=angs $end
 $system timlim=10 memory=30000000 $end
 $guess  guess=huckel $end
 $lmoeda matom(1)=2,2 mcharg(1)=0,0 mmult(1)=1,1 supbas=.true. $end
 $DATA
@data
